.AuthForm {
  width: 100%;
  max-width: $max-card-width;
  padding: 72px 60px 83px;
  @include cardBox();
  @include absolute-center();
  @include breakpoint("max-card") {
    background-color: unset;
    border: unset;
    padding: 40px 40px 20px;
  }
}

.AuthForm__h2 {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: $brown-grey;
  line-height: 1.4;
  margin-bottom: 30px;

  &::after {
    content: "";
    display: inline-block;
    margin-bottom: -18px;
    margin-left: -100%;
    transform: translateX(100%);
    width: 16px;
    height: 2px;
    background-color: $light-grey;
  }
}

.AuthForm__h1 {
  width: 200px;
  height: 36px;
  margin-bottom: 80px;
  img { width: 100%; }

  @include breakpoint("max-card") {
    margin-bottom: 50px;
  }
}

.AuthForm__message {
  color: $brown-grey;
  font-size: 12px;
}


.AuthForm__link {
  font-weight: bold;
  cursor: pointer;
  &:hover { text-decoration: underline; }
}